#ReportsSection3{
    overflow: hidden;
}
#mh{
    font-size: 20px;
    font-weight: bold;
    color: rgb(52, 52, 202);
}

#lh{
    font-size: 22px;
    font-family: cursive;
    color: rgb(57, 63, 153);
    font-weight: 600;
}
#lc{
    margin-top: -2%;
    color: rgb(59, 59, 163);
    font-family: cursive;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
}

.srs3{
    margin-left: 7%;
    /* display: block;
    margin: auto;
    text-align: center; */
}
#logo{
    height: 70px;
    width: 80px;
}
