.page-hero-section {
  height: 88vh !important;
  width: 100%;
}
.hero-caption {
  font-size: 2vw;
}
#as1htext {
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  color: black;
}
#as1mtext {
  margin-top: 3%;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  color: black;
}
